---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <!-- <div class="entry">
        {{ post.excerpt }}
      </div> -->
      <div class="entry">
       {% if post.content contains '<!--break-->' %}
          {{ post.content | split:'<!--break-->' | first }}    
       {% else %}
          {{ post.excerpt }}
       {% endif %}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>